@keyframes tada {
    0% { transform: scale(1); }
    10%, 20% { transform: scale(0.9) rotate(-3deg); }
    30%, 50%, 70%, 90% { transform: scale(1.1) rotate(3deg); }
    40%, 60%, 80% { transform: scale(1.1) rotate(-3deg); }
    100% { transform: scale(1) rotate(0); }
  }
  
  .o-pokeball {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px black;
    position: relative;
    background: linear-gradient(to bottom, #EEEEEE 0%, #FFFFFF 100%);
    margin: 20px auto;
  }
  
  .o-pokeball:before,
  .o-pokeball:after {
    content: "";
    display: block;
  }
  
  .o-pokeball:before {
    width: 46px;
    height: 22px;
    border-bottom: solid 2px black;
    border-radius: 25px 25px 0 0;
    background: linear-gradient(to bottom, #d10000 0%, #ff0000 50%);
  }
  
  .o-pokeball:after {
    width: 10px;
    height: 10px;
    background: linear-gradient(to bottom, #fff 0%, #ccc 100%);
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    box-shadow: 0 0 0 1px black, 0 0 0 2px #ddd, 0 0 0 3px black, 0 0 5px 2px rgba(0, 0, 0, 0.4);
  }
  
  .u-tada {
    animation: tada 1200ms infinite;
  }
  
.loader-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.loader-text {
  font-size: 18px;
  font-weight: bold;
  margin-top: 10px;
  color: #333;
}

  