*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: var(--bg-color);
    font-family: var(--font-primary);
}

.search,
.pagination {
    background-color: var(--red);
    flex-shrink: 0;
}

.pagination {
    height: var(--search-pagination-height);
}

.list-wrapper {
    flex: 1;
    height: calc(100vh - var(--search-pagination-height)*2);
    overflow: hidden;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    grid-template-rows: repeat(2, 1fr);
    padding: 20px 40px;
    gap: 20px;
}



